/* Form layout */

.addForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  padding: 2.8rem 0;

  background-color: #4b527e;
}

.submitBtn {
  transition: all 0.3s ease;

  background-color: #748ffc;
}

.submitBtn:hover {
  background-color: #5c7cfa;
}

/* Form content styles */

.tertiaryHeading {
  font-size: 2.4rem;
  font-weight: 400;

  margin-right: 1.6rem;
}

/* Responsivity */

@media (max-width: 768px) {
  .addForm {
    padding: 2rem 1.6rem;
  }

  .tertiaryHeading {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }

  .select,
  .inputText {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }

  .submitBtn {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 900px) {
  .addForm {
    padding: 2rem 1.6rem;
  }
}
