/* Stats content styles */

.stats {
  font-weight: 400;
  text-align: center;

  padding: 3.2rem 0;

  background-color: #495057;
}

/* Responsivity */

@media (max-width: 768px) {
  .stats {
    font-size: 1.3rem;
  }
}
